body {
	width: 400px;
	font-family: sans-serif;
	width: 96%;
	text-align: center;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: linear-gradient(315deg, #42378f 0%, #f04d58 74%) no-repeat center center fixed;
	
}
.options-form-div{
	box-shadow: 5px 5px 4px #32322f;
	display: inline-block;
	margin: 0 auto;
	padding: 30px;
	background-color: #F5F5F5;
	border-radius: 10px
}
#features-placeholder{
	text-align: left
}
h2~h2,form~form{
	margin-top: 2em
}
h2{
	font-size: 35px;
	
}
.hidden-feature{
	display: none;
	opacity: 0.5
=======
    margin: 14px 17px;
    /* Chrome default, match for Firefox  */
    font-family: sans-serif;
    width: 96%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: no-repeat center center fixed;
}

.options-form-div {
    box-shadow: 5px 5px 4px #32322f;
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
    background-color: hsl(0, 0%, 96%);
    border-radius: 10px;
}

#features-placeholder {
    text-align: left;
}

/* Increase spacing between sections  */

h2 ~ h2,
form ~ form {
    margin-top: 2em;
}

h2 {
    font-size: 35px;
}

.hidden-feature {
    display: none;
    opacity: 0.5;

}
